#events .ev-container {
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 13px 17px 20px 5px #00000054;
  padding: 0;

  display: flex;
}

#events .image {
  width: 50%;
}

#events .image img {
  width: 100%;
  height: 450px;
  object-fit: cover;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#events .content {
  width: 50%;
  color: white;
  padding: 50px;
  text-align: center;
  
  background-color: #306731;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#events h3 {
  margin-bottom: 20px;
}