<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <style>
      body {
        margin: 0;
        font-family: sans-serif;
      }

      .container {
        display: flex;
      }

      .image {
        width: 50%;
      }

      .image img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }

      .content {
        width: 50%;
        background-color: #a65a48;
        color: white;
        padding: 50px;
        text-align: center;
      }

      h1 {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="images/1.jpg" alt="About Us" />
      </div>
      <div class="content">
        <h1>Event</h1>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Loremlt is a long established fact that a reader will be
          distracted by the readable content of a page when looking at its
          layout. The point of using Lorem
        </p>
      </div>
    </div>
    <div class="container">
      <div class="image">
        <img src="images/1.jpg" alt="About Us" />
      </div>
      <div class="content">
        <h1>Event</h1>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Loremlt is a long established fact that a reader will be
          distracted by the readable content of a page when looking at its
          layout. The point of using Lorem
        </p>
      </div>
    </div>
    <div class="container">
      <div class="image">
        <img src="images/1.jpg" alt="About Us" />
      </div>
      <div class="content">
        <h1>Event</h1>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Loremlt is a long established fact that a reader will be
          distracted by the readable content of a page when looking at its
          layout. The point of using Lorem
        </p>
      </div>
    </div>
  </body>
</html>
