<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #a6f795;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: green;
  color: white;
}

tr:nth-child(odd) {
  background-color: black;
  color: white;
}
</style>
</head>
<body>

<h2>Time Table</h2>
<table>
  <tr>
    <th>DAY</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>Monday</td>
    <td>9am-6pm</td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td>9am-6pm</td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td>9am-6pm</td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td>9am-6pm</td>
  </tr>
  <tr>
    <td>Friday</td>
    <td>9am-6pm</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>9am-9pm</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>9am-9pm</td>
  </tr>
</table>
</body>
</html>